.contact {
    background-color: #947667;
    height: 50vh;   
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2rem;
    border: 1px solid;
}

.contact-container a {
    color: black;
    letter-spacing: 2px;
}
