.nav-bar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 9%;
    color: #947667;
    margin-bottom: 3%;
}

.social-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 2.6rem;
}

.nav-bar h1 {
    letter-spacing: 3px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-links:hover {
    cursor: pointer;
}

.nav-links a {
    color: #947667;
}

.drop-down {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #947667;
    padding: 5% 2%;
    margin: 1%;
    font-size: small;
}

.drop-down a {
    color: white;
}

@media screen and (min-width: 1023px){
    .drop-down {
        justify-content: space-evenly;
        margin: 0;
    }
}