.App {
  text-align: center;
}
html{
  font-size:62.5%;
}
body{
  margin: 0;
  font-size:1.6rem;
  font-family: 'Roboto Mono', monospace;
}
a{
  font-family: 'Roboto Mono', monospace;
  text-decoration:none;
}
h1{
  font-size:4rem;
  letter-spacing: 3px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
}
